#.gitignore file for the alexa.git repository.  
examples
#I started this but have barely done anything with it.  I'll get back to it later, but for now, it's basically still the example program.  No need to check in.
pokerAssistant 